# Portfolio Configuration
NEXT_PUBLIC_SITE_URL=https://evaldas-portfolio.com
NEXT_PUBLIC_CONTACT_EMAIL=mackonis777@gmail.com

# Social Links
NEXT_PUBLIC_GITHUB_URL=https://github.com/mackka2k
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/evaldas-mackonis
